/* #signup-button {
  position: absolute;
  left: 70rem;
  bottom: 1.5rem;
} */

/* #login-button {
  position: right;
} */

/* #logout-button {
  position: absolute;
  left: 79rem;
  bottom: 1.5rem;
} */

#editionlink {
  left: 55rem;
  bottom: 0.2rem;
}
/* 
#languages {
  left: 52rem;
  bottom: 0.25rem;
} */

#login-form {
  position: fixed;
  width: 25%;
  margin-left: 70.5%;
}

#logged-in-message {
  position: fixed;
  width: 25%;
  margin-left: 70.5%;
  font-size: 200%;
}

#signed-up-message {
  position: absolute;
  margin-top: -4.75rem;
  color: white;
  font-variant: caps;
  font-size: 120%;
  left: 65rem;
}

#sign-up-form {
  position: absolute;
  width: 250px;
  left: 95rem
}

#signup-article-button {
  margin-left: 17rem;
}

#buy-button {
  margin-left: 18rem;
}

/* #logo {
  width: 600px;
  margin-left: 10rem;
} */

#mars {
  width: 180px;
  margin-left: 20rem;
  margin-bottom: -1.2rem;
}

#tesla {
  position: absolute;
  width: 250px;
  margin-left: 4rem;
  margin-top: 33rem;
}

#nasa {
  position: absolute;
  width: 250px;
  margin-left: 4rem;
  margin-top: 80rem;
}

#oil {
  position: absolute;
  width: 250px;
  margin-left: 4rem;
  margin-top: 3rem;
}

#sponsor {
  position: absolute;
  width: 250px;
  margin-left: 4rem;
  margin-top: 60rem;
}

#spacex {
  position: absolute;
  width: 250px;
  margin-left: 4rem;
  margin-top: 105rem;
}

#subscription-form {
  margin-left: 15rem;
}


body {
  background-color: #f8f8ff !important;
}

#cards {
  left: 25rem;
  display: flex !important;
}

#add1 {
  width: 20%;
  float: right;
  margin-top: 10cm;
  position: relative;
  top: 20%;
}

#link {
  font-size: 120%;
}

#politics, #latest_news, #sports, #tech, #culture{
  font-weight: bold !important;
  color: white !important;
  font-size: 150% ;
  
}

.homee {
  font-weight: bold !important;
  color: white !important;
  font-size: 150% ;
}
